@page "/"

<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies" />
</div>

<button @onclick="AddNewMovie">Add new movie</button>

@code{
    private List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        //await Task.Delay(3000);
        movies = new List<Movie>()
{
            new Movie {Title = "Spiderman", ReleaseDate = new DateTime(2019,7,2)},
            new Movie {Title = "Moana", ReleaseDate = new DateTime(2016,11,23)},
            new Movie {Title = "Inception", ReleaseDate = new DateTime(2010,7,16)},
        };
    }

    private void AddNewMovie()
    {
        movies.Add(new Movie(){Title = "Luke Cage", ReleaseDate = DateTime.Today});
    }
}